<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('layouts/header') -%>
    <title>Document</title>
</head>
<body>
    <%- include('layouts/navbar') -%>

    <div class="container">
        <h1><%= details %></h1>
    </div>

    <%- include('layouts/footer') -%>
</body>
</html>