<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <header class="masthead mt-5 pd-5" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading text-center">
                            <h1>Lista Servizi in Abbonamento</h1>
                            <span class="subheading">Scegli il servizio che più ti piace ed Abbonati!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br />
        <br />
        <!-- Main Content-->
        
                    <% for(let i=0; i<elencoabbonamenti.length; i++){ %>
                        <!-- Post preview-->
                        <div class="container px-4 px-lg-5 ">
                            <div class="row gx-4 gx-lg-5 justify-content-center">
                                <div class="col-md-10 col-lg-8 col-xl-7">
                       
                        <!-- Divider0000000-->
                        

                       

<!-- ----------------------------------------------------------------------------- -->

                    <div class="card" style="width: 30rem;">
                        <img src="/img/<%= elencoabbonamenti[i].subimage %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= elencoabbonamenti[i].subname %></h5>
                          <p class="card-text"><%= elencoabbonamenti[i].subdesc %></p>
                          <p>Validità abbonamento: <%= elencoabbonamenti[i].subeta %> Giorni</p>
                        <div class="text-center">
                          
                          
                          <h5><%= elencoabbonamenti[i].subprice %></h5>
                          <br />
                          <a href="/abbonamenti/<%= elencoabbonamenti[i]._id %>" class="btn btn-primary btn-block">Visualizza Servizio</a>
                        </div>
                        </div>
                      </div>

<!-- ----------------------------------------------------------------------------- -->

                        <!-- Divider
                    <div class="container position-relative px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5">
                            <div class="col"> 
                                <div class="container" style="background-image: url('/img/<%= elencoabbonamenti[i].subimage %>'); height: 600px; width: 600px; "></div>
                                
                                <a href="/abbonamenti/<%= elencoabbonamenti[i]._id %>" class="btn btn-primary pl-50%">Visualizza Servizio</a>
                            </div>
                        </div>
                    </div> -->


                    
                    
                </div>
            </div>
        </div>

        <hr class="my-4 mb-5 mt-5" />
<% } %>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        
    </body>
</html>
