<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('layouts/header') -%>
    <title>Document</title>
</head>
<body>
    <%- include('layouts/navbar') -%>

    <div class="container mt-5 pt-5 ">
        <h1 class="text-center">Effettua il Login</h1>

        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" name="inputUser" id="user" placeholder="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" name="inputPassword" id="pass" placeholder="" class="form-control" />
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Effettua l'accesso</button>
        </form>
    </div>

    <%- include('layouts/footer') -%>
</body>
</html>