<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        
            <!-- ----------------------------------------------7777777---------------------------------------------------------- -->

            <div class="container mt-5 pb-5 ">
                <h1 class="text-center">Acquista ora il servizio: <%= subscription.subname %></h1>
            </div>
<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

        <div class="card" style="width: 30rem;">
            <img src="/img/<%= subscription.subimage %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= subscription.subname %></h5>
              <p class="card-text"><%= subscription.subdesc %></p>
              <p>Validità abbonamento: <%= subscription.subeta %> Giorni</p>
            <div class="text-center">
              
              
              <h5><%= subscription.subprice %></h5>
              <br />
              <a href="#" class="btn btn-primary btn-block">Acquista Servizio</a>
            </div>
            </div>
          </div>


        

        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        
    </body>
</html>
