<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <%- include('layouts/navbar') -%>
        <div class="px-4 py-5 text-center" >
            <h1 class="display-5 fw-bold">Crea un nuovo Servizio</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead">Completa i campi sottostanti per pubblicare il tuo Servizio in Abbonamento</p>
            </div>
        </div>

        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">

                            <form action="/abbonamenti" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <label for="subname">Nome del Servizio</label>
                                    <input class="form-control" name="inputName" id="subname" type="text" placeholder="Inserisci il nome del servizio..." minlength="1" required />
                                </div>
                                <div class="form-floating mt-5">
                                    <label for="subeta">Giorni di Scadenza</label>
                                    <input class="form-control" name="inputEta" id="subeta" placeholder="Inserisci i giorni di scadenza dell'abbonamento..." minlength="1" required />
                                </div>
                                <div class="form-floating mt-5">
                                    <label for="subdesc">Descrizione Servizio</label>
                                    <textarea class="form-control" name="inputDesc" id="subdesc" style="height: 4rem" placeholder="Inserisci il la descrizione del servizio..." minlength="1" required ></textarea>
                                </div>
                                
                                

                                <div class="form-floating mt-5">
                                    <label for="subprice">Prezzo del Servizio</label>
                                    <input class="form-control mt-20" name="inputPrice" id="subprice" placeholder="Inserisci il prezzo del servizio..." minlength="1" required />
                                </div>
                                
                                <div class="form-control mt-5 mb-2">
                                    <label for="campo-file">Immagine Anteprima del Servizio</label>
                                    <input type="file" name="inputFile" id="campo-file" placeholder="Attach file here!" />
                                </div>
                                

                                <button type="submit" class="btn btn-primary mt-5">Crea il Servizio</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <%- include('layouts/footer') -%>
       
    </body>
</html>